.product-wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.product-container {
  width: 80%;
  background-color: #ffffff;
  margin: 20px;
  padding: 0px 180px;
  /* fix this */
}

.breadcrumb {
  display: flex;
  gap: 0.5rem;
}

.breadcrumb li a {
  text-decoration: none;
  color: #788896;
}

.breadcrumb li:last-child a {
  text-decoration: underline;
  color: #788896;
}

.breadcrumb span {
  color: #788896;
}

.product__content-container {
  margin-top: 20px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.right h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #293845;
}

.product__images {
}

.product__thumbnail-container {
  display: flex;
  max-width: 500px;
  justify-content: space-around;
  gap: 1.5rem;
  margin-top: 20px;
}

.product__reviews {
  display: flex;
  gap: 2px;
}

.product__reviews a {
  text-decoration: underline;
  color: #6558f5;
}

.product__old-price {
  text-decoration: line-through;
}

.product__price {
  color: #555;
  display: flex;
  align-items: center;
  gap: 4px;
}

.percentage-off {
  color: #6558f5;
  font-weight: 600;
}

.product__price h2 {
  color: #293845;
  margin-left: 10px;
}

.product__size-selector {
  display: flex;
  flex-direction: column;
}

.product__size-selector label {
  font-size: 0.7rem;
  font-weight: 900;
}

.custom-select {
  width: 200px;
  padding: 10px;
  color: #333;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding-right: 30px;
  position: relative;
}

.custom-select::after {
  content: "▼";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.custom-select:hover {
  background-color: #e0e0e0;
}

.custom-select:focus {
  border-color: #007bff;
}

.custom-select option {
  background-color: #fff;
  color: #333;
}

.product__size-guide {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.product__size-guide a span {
  color: #6558f5;
  font-weight: 600;
  font-size: 0.75rem;
  border-bottom: 1px #788896 solid;
}

.product__size-guide a {
  text-decoration: none;
}

.product__choose-color span {
  font-size: 0.75rem;
  font-weight: 900;
}

.product__color-options {
  display: flex;
  gap: 10px;
}

.circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.color-1 {
  background-color: #dfdfdf;
  border: 2px #919191 solid;
}

.color-2 {
  background-color: #919191;
  border: 2px #838383 solid;
}

.color-3 {
  background-color: #838383;
  border: 2px #4d4c4c solid;
}

.color-4 {
  background-color: #4d4c4c;
  border: 2px #2c2c2c solid;
}

.product__to-cart {
  background-color: #4b5c6b;
  padding: 15px;
  color: #fff;
  max-width: 200px;
  text-align: center;
  font-size: 1.25rem;
  border-radius: 10px;
  transition: 0.3s;
}

.product__to-cart:hover {
  background-color: #37474f;
}

.product__checkout {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

.product__checkout span {
  color: #788896;
  font-weight: bold;
  text-align: center;
}

.product__payment-methods {
  display: flex;
  gap: 27px;
}

.line {
  width: 100%;
  height: 0;
  border: 2px solid #b9b9b9;
  margin: 3px;
  display: inline-block;
}

/* media querries */
